:root{
    --color-light: #f4f4f4;
    --color-dark:#000000;
    --color-red:#e50914;
    --color-grey:#999;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

a,
h1, 
p{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

li {
    list-style: none;
}

img{
    width: 100%;
}


.movie-showcase{
    width: 100%;
    height: 100vh;
    background: url('/pictures/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.movie-showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 50px 75px 250px #000000, inset -50px 
    -75px 250px #000000;  
}

.movie-showcase-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 3%;
    padding: 0 5%;
}

img.netflix-logo{
    width: 30%;
    height: 25%;
}

a.sign-in-btn{
    background-color:var(--color-red);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 10px;
    align-self: center;
    padding: 5px 10px;
}

.movie-showcase-content{
    position: absolute;
    top: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-showcase-content-inner{
    color: var(--color-light);
    font-weight: 500;
}

.movie-showcase-content-inner > p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.movie-showcase-content-flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem 1rem;
    color: var(--color-light);
    font-weight: 400;
}

.movie-showcase-content-flex-form > p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.movie-showcase-content-flex-form-inner{
    display: flex;
    flex-direction: column;
    margin: 2rem .25rem;
}

.movie-showcase-content-flex-form-inner > input{
    padding: 1rem;
}

.movie-showcase-content-flex-form-inner > input::placeholder{
    text-align: left;
    color: var(--color-grey);
    font-size: 1.1rem;
}

.movie-showcase-content-flex-form-inner-flex-form-container{
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

.movie-showcase-content-flex-form-inner-flex-form-container > :nth-child(2){
    margin-left: .5rem;
}

.features > :before{
    content: " ";
    position: absolute;
    width: 100%;
    height: .5rem;
    background:#222;
    bottom:100%;
    left: 0;
}

.features{
    background: var(--color-dark);
    width: 100%;
    height: 100%;
    position: relative;
}

.feature-section-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem 1rem;
    height: 100vh;
}

.feature-section-item-content{
    color: var(--color-light);
    font-weight: 400;
}

.feature-section-item-content > h1{
    font-size: 2rem;
}

.feature-section-item-content > h1 + p{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    line-height: 1.5rem;
}

.faq{
    background-color: var(--color-dark);
    width: 100%;
    height: 100%;
    position: relative;
    padding:1rem 0;
}

.faq h1{
    color: var(--color-light);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.faq-item{
    width: 100%;
    background-color: #222;
    margin: .25rem auto;
}
.accordion{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    color: var(--color-light);
    margin-bottom: .75rem;
    border-bottom: 2px solid var(--color-dark);
}

.active {
    background-color: var(--color-grey);
  }

.panel{
  padding: 1rem;
  text-align: left;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  display: none;
  color: var(--color-light);
}

.panel p{
    text-align: left;
}

.footer::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: .5rem;
    background:#222;
    bottom:100%;
    left: 0;

}

.feature-section-item::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: .5rem;
    background:#222;
    top: 100;
    left:0;
}


.footer{
    background-color: var(--color-dark);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 2rem;
    position: relative;
}

.footer-title{
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 1rem;
}

.footer-content{
    display: grid;
    grid-template-columns: 2fr 1.75fr;
    grid-gap: .75rem;
}

.footer-content > ul > li{
    padding: .5rem 0;
    font-size: .75rem;
}

.footer-summary{
    margin: 1.5rem 0;
    font-weight: 700; 
    font-size:1rem;
}
.footer-title, 
.footer-content a,
.footer-summary {
    color:#757575 !important;
  
}

@media only screen and (min-width:768px){
    .movie-showcase-content{
        position: relative;
    }
    .movie-showcase-content-flex-form-inner {
        display: flex;
        flex-direction: row;
        margin: 2rem .25rem;
    }
    input{
        width: 100%;
    }
    .movie-showcase-content-flex-form-inner-flex-form-container{
        margin: 0;
    }
}



/* @media only screen and (min-width:800px){
    .movie-showcase-content-flex-form-inner{
        flex-direction: row;
    }
    .feature-section-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 10rem 5rem;
    }
    .feature-section-item-content,
    .feature-section-item-image{
        width: 50%;
    }
    .feature-section-item-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: 5rem;
    }
    .feature-section-item-content > h1{
        text-align: left;
        font-size: 3rem;
        font-weight: 600;
    }
    .feature-section-item-content > h1+p{
        text-align: left;
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 600;
    }
    .features > :nth-child(2) .feature-section-item-content{
        order:2;
    }
    .features > :nth-child(4) .feature-section-item-content{
        order:2;
    }

} */