:root{
    --color-light: #f4f4f4;
    --color-dark:#141414;
    --color-red:#e50914;
    --color-grey:#999;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

img{
    width: 100%;
}


.movie-showcase{
    width: 100%;
    height: 100vh;
    background: url('/pictures/showcase-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.movie-showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 80px 100px 100px #000000, inset -80px 
    -100px 100px #000000;  
}

.movie-showcase-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 3%;
    padding: 0 5%;
}

img.netflix-logo{
    width: 30%;
    height: 25%;
}

a.sign-in-btn{
    background-color:var(--color-red);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 10px;
    align-self: center;
    padding: 5px 10px;
}

.movie-showcase-content{
    position: absolute;
    top: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-showcase-content-inner{
    color: var(--color-light);
    font-weight: 500;
}

.movie-showcase-content-inner > p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.movie-showcase-content-flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem 1rem;
    color: var(--color-light);
    font-weight: 400;
}

.movie-showcase-content-flex-form > p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.movie-showcase-content-flex-form-inner{
    display: flex;
    flex-direction: column;
    margin: 2rem .25rem;
}

.movie-showcase-content-flex-form-inner > input{
    padding: 1rem;
}

.movie-showcase-content-flex-form-inner > input::placeholder{
    text-align: left;
    color: var(--color-grey);
    font-size: 1.1rem;
}

.movie-showcase-content-flex-form-inner-flex-form-container{
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

.movie-showcase-content-flex-form-inner-flex-form-container > :nth-child(2){
    margin-left: .5rem;
}
@media only screen and (min-width:800px){
    .movie-showcase-content-flex-form-inner{
        flex-direction: row;
    }
}